/*
	Este arquivo faz parte do BCM Revox Engine;

	BCM Revox Engine é Software Livre; você pode redistribui-lo e/ou
	modificá-lo dentro dos termos da Licença Pública Geru GNU como
	publicada pela Fundação do Software Livre (FSF); na versão 3 da Licença.
	Este programa é distribuído na esperança que possa ser util,
	mas SEM NENHUMA GARANTIA; sem uma garantia implicita de ADEQUAÇÂO a
	qualquer MERCADO ou APLICAÇÃO EM PARTICULAR. Veja a Licença Pública Geral
	GNU para maiores detalhes.
	Você deve ter recebido uma cópia da Licença Pública Geral GNU junto com
	este programa, se não, escreva para a Fundação do Software Livre(FSF) Inc.,
	51 Franklin St, Fifth Floor, Boston, MA 02110-1301 USA

	BCM Revox Engine v0.2
	BCM Revox Engine -> Ano: 2013|Tipo: WebEngine
*/
#include "resource.h"
#include <windows.h>

LANGUAGE LANG_PORTUGUESE, SUBLANG_PORTUGUESE_BRAZILIAN

IDD_DIALOG DIALOG DISCARDABLE 0, 0, 250, 50
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Remetente"
FONT 8, "Segoe UI"
BEGIN
    DEFPUSHBUTTON   "&OK",IDOK,174,18,50,14
    GROUPBOX        "Digite o Remetente: ",IDC_STATIC,7,7,225,52
    EDITTEXT        IDCTEXT, 30, 160, 100, 16
                    IDC_STATIC,16,18,144,33
END

IDD_DIALOG2 DIALOG DISCARDABLE 0, 0, 250, 50
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Console"
FONT 10, "Segoe UI"
BEGIN
    DEFPUSHBUTTON   "&OK",IDOK,174,18,50,14
    EDITTEXT        IDCTEXT, 30, 160, 100, 16
                    IDC_STATIC,16,18,144,33
END

VS_VERSION_INFO     VERSIONINFO
    FILEVERSION     0, 2, 0, 0
    PRODUCTVERSION  0, 2, 0, 0
    FILEFLAGSMASK   0x3fL
#ifdef _DEBUG
    FILEFLAGS       0x1L
#else
    FILEFLAGS       0x0L
#endif
    FILEOS          VOS_NT_WINDOWS32
    FILETYPE        VFT_DLL
    FILESUBTYPE     VFT_UNKNOWN
{
    BLOCK "StringFileInfo"{
        BLOCK "041604B0"{
            VALUE "Build",            "2 de Fevereiro de 2014\0"
            VALUE "Comments",         "Livre para todos os Usuarios!\0"
            VALUE "CompanyName",      "Cleber Matheus Softwares\0"
            VALUE "Developer",        "Cleber Matheus\0"
            VALUE "FileDescription",  "WebEngine\0"
            VALUE "FileVersion",      "0.2.0.0\0"
            VALUE "InternalName",     "REVOX.DLL\0"
            VALUE "LegalCopyright",   "GNU General Public License Version 3\0"
            VALUE "LegalTrademarks",  "All rights reserved.\0"
            VALUE "OriginalFilename", "Revox.dll\0"
            VALUE "PrivateBuild",     "Release v0.2\0"
            VALUE "ProductName",      "BCM Revox Engine\0"
            VALUE "ProductVersion",   "0.2\0"
            VALUE "SpecialBuild",     "0.2.0.0\0"
            VALUE "Support",          "http://clebermatheus.users.sf.net/support\0"
            VALUE "Users",            "Livre para todos os Usuarios!\0"
        }
    }
    BLOCK "VarFileInfo"{
        VALUE "Translation", 0x416, 1200
    }
}
